.test-modal {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15%;
    padding-bottom:  6%;
    min-width: 500px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 15px 1px #999;
}

.test-modal-number {
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test-modal-word {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}
.test-modal-btns {
    display: flex;
    justify-content: space-around;
}
.test-modal-btn {
    padding: 20px;
    flex: 1;
    margin: 10px;
    font-size: 20px;
    border: 1px solid yellowgreen;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 5px 10px 1px #666;
}
.test-modal-btn::first-letter {
    text-transform: uppercase;
}
.test-modal-btn:hover {
    box-shadow: 0 5px 6px 1px #666;
}
.test-modal-btn:active {
    box-shadow: 0 3px 2px 1px #666;
}
.test-modal-exit {
    position: absolute;
    right: 20px;
    top: 10px;
    background: transparent;
    transform: rotate(45deg);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 200%;
    justify-content: center;
}