.learn-modal {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    padding: 20px 0;
}
.learn-modal-word,
.learn-modal-word {
    text-align: center;
    text-transform: capitalize;
}
.learn-modal-btn {
    padding: 20px;
    text-transform: capitalize;
    font-size: 20px;
    border: 1px solid yellowgreen;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 5px 10px 1px #666;
}
.learn-modal-btn:hover {
    box-shadow: 0 5px 6px 1px #666;
}
.learn-modal-btn:active {
    box-shadow: 0 3px 2px 1px #666;
}